<div id="guest_notification" class="modal hide fade in">
  <div class="modal-header">
    <h3>Welcome!</h3>
  </div>
  <div class="modal-body">
    <p>You have not logged in. You can sign in or sign up now but you don't have to.</p>
    <p>It's OK to simply click this dialog away and go and play around.<br />You can save your work later by signing in or up.</p>
  </div>
  <div class="modal-footer">
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-success" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
    <a href="#" class="btn" data-dismiss="modal">I'll just play around</a>
  </div>
</div>

<script type="text/javascript">
// Open guest notification right on page done
$(document).ready(function(){
  $('#guest_notification').modal('show');
});
</script>
